{
  "envs": {
    "dev": {
      "host": "216.58.214.238",
      "users": {
        "ubuntu": "password"
      }
    },
    "qa": {
    	"host": "216.58.214.237",
    	"users": {
    		"ubuntu": "password"
    	}
    },
    "live": {
    	"host": "216.58.214.236",
    	"users": {
    		"ubuntu": "password"
    	}
    }
  }
}
